<header id="header" class="scrollspy">
  <a href="#" data-target="slide-out" class="sidenav-trigger right">
    <i class="small material-icons">menu</i>
  </a>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>
          Kalyan Saxena Mutyala
        </h1>
        <h1>
          The Web
          <span
            class="txt-type"
            data-wait="3000"
            data-words='["Developer","Designer"]'
          ></span>
        </h1>
      </div>
      <div class="col s12"><h2>Welcome to the website</h2></div>
      <div class="col s12">
        <div class="icons">
          <a href="https://www.freecodecamp.org/kalyan_saxena" target="_blank"
            ><i class="fa fa-free-code-camp"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/kalyan-saxena-31a2b315b/"
            target="_blank"
            ><i class="fa fa-linkedin"></i
          ></a>
          <a href="https://github.com/Kalyan-Saxena" target="_blank"
            ><i class="fa fa-github"></i
          ></a>
          <a href="https://www.facebook.com/kalyan.saxena.1" target="_blank"
            ><i class="fa fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/kalyan_saxena/" target="_blank"
            ><i class="fa fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</header>

<ul id="slide-out" class="sidenav">
  <li>
    <a href="#header">Home</a>
  </li>
  <li><a href="#projects">Projects</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#img-slider">Third Link With Waves</a></li>
</ul>
